/* .cardDesc {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s ease-in-out, position 1s ease-in-out,
    transform 0.3s ease-in-out;
  background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
}

.cardContainer:hover .cardDesc {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  position: relative;
} */
.cardDesc {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s ease-in-out, position 1s ease-in-out,
      transform 0.3s ease-in-out;
    background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
    z-index: 100;
  }
  
  .cardContainer:hover .cardDesc {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  